.nav-bg {
  background-color: #fff;
  padding: 16px 0;
  .navbar-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navbar__brand {
      .menu {
        display: none;
      }
    }
    .navbar__textBtn {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      .nav-menu {
        display: flex;
        margin: 0;
        padding: 0;
        gap: 32px;
        .nav-menu__link {
          list-style-type: none;
          .nav-menu__item {
            text-decoration: none;
            color: #2a2c1f;
            font-size: 16px;
            font-family: Roboto;
            line-height: 24px;
            &:hover {
              font-weight: 700;
              transform: 2s;
            }
          }
        }
        .nav-input {
          input {
            width: 70px;
            outline: none;
            border: none;
          }
          ::placeholder {
            color: #2a2c1f;
            font-size: 16px;
            font-family: Roboto;
            line-height: 24px;
          }
        }
      }
      .btn {
        display: flex;
        gap: 16px;
        .btn-img {
          border-radius: 6px;
          border: 1px solid #e7e8e3;
          background: #fff;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          color: #2a2c1f;
          text-align: center;
          font-size: 16px;
          font-family: Roboto;
          line-height: 24px;
          padding: 9px 21px;
          &:active {
            border: 1px solid #e7e8e3;
            background: #fff;
            box-shadow: none;
          }
          img {
            padding: 0 0 5px 0;
          }
        }
        .btn-text {
          padding: 9px 21px;
          border-radius: 6px;
          border: 1px solid #cf6f49;
          background: #cf6f49;
          color: #fff;
          text-align: center;
          font-size: 16px;
          font-family: Roboto;
          line-height: 24px;
          &:active {
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .nav-bg {
    .navbar-flex {
      display: block;
      .navbar__textBtn {
        display: block;
        margin-top: 20px;
        .btn {
          margin-top: 10px;
          margin-left: -10px;
          gap: 30px;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .nav-bg {
    .container {
      max-width: none;
      .navbar-flex {
        padding: 0 0 0 30px;
        .navbar__brand {
          .menu {
            display: inline;
            float: right;
            padding: 0 30px 0 0;
          }
        }
        .navbar__textBtn {
          display: none;
          .nav-menu {
            display: block;
            .nav-menu__link {
              padding: 0 0 5px 5px;
            }
          }
        }
        .block {
          display: block;
        }
      }
    }
  }
}
