.section-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 67px 0 0 0;
  .section-logo__text {
    width: 243px;
    color: #2a2c1f;
    font-size: 18px;
    font-family: Roboto;
    line-height: 27px;
  }
  .section-logo__logos {
    display: flex;
    gap: 17px;
  }
}
@media only screen and (max-width: 992px) {
  .section-logo {
    display: block;
    .section-logo__text {
      margin: 0 auto;
      text-align: center;
    }
    .section-logo__logos {
      padding: 20px 0 0 0;
      justify-content: center;
      gap: 35px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .section-logo {
    .section-logo__logos {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }
  }
}
@media only screen and (max-width: 600px) {
  .section-logo {
    .section-logo__logos {
      display: grid;
      grid-template-columns: auto auto auto;
    }
  }
}
@media only screen and (max-width: 450px) {
  .section-logo {
    .section-logo__logos {
      display: grid;
      grid-template-columns: auto auto;
    }
  }
}
