.section-left__img {
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 120px 0 0 0;
  .section-left__imgs {
    width: 100%;
    img {
      width: 500px;
      height: 500px;
    }
  }
  .section-left__text {
    .section-left__div {
      width: 127px;
      height: 29px;
      padding: 4px 12px;
      border-radius: 32px;
      background: #e7e8e3;
      color: #2a2c1f;
      font-size: 14px;
      font-family: Roboto;
      line-height: 21px;
    }
    h1 {
      color: #2a2c1f;
      font-size: 48px;
      font-family: Roboto;
      font-weight: 700;
      line-height: 57.6px;
      padding: 15px 0 0 0;
    }
    p {
      padding: 19px 0 0 0;
      width: 500px;
      color: #65665c;
      font-size: 18px;
      font-family: Roboto;
      line-height: 27px;
    }
    .section-left__cards {
      display: flex;
      align-items: center;
      padding: 18px 0 21px 0;
      .section-left__card {
        width: 288px;
        height: 180px;
        .section-left__div {
          width: 48px;
          height: 48px;
          border-radius: 8px;
          background: #fae8e1;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        h6 {
          padding: 16px 0 0 0;
          color: #2a2c1f;
          font-size: 20px;
          font-family: Roboto;
          font-weight: 700;
          line-height: 28px;
        }
        p {
          padding: 8px 0 0 0;
          width: 245px;
          color: #65665c;
          font-size: 16px;
          font-family: Roboto;
          line-height: 24px;
        }
        .section-left__text {
          width: 281px;
        }
      }
    }
    .section-left__btn {
      padding: 13px 25px;
      border-radius: 6px;
      border: 1px solid #e7e8e3;
      background: #fff;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
      color: #2a2c1f;
      text-align: center;
      font-size: 16px;
      font-family: Roboto;
      line-height: 24px;
      &:active {
        box-shadow: none;
      }
    }
    .section-left__link {
      padding: 0 0 0 24px;
      color: #2a2c1f;
      text-align: center;
      font-size: 16px;
      font-family: Roboto;
      line-height: 24px;
      text-decoration: none;
      img {
        padding: 0 0 2px 2px;
        &:hover {
          transform: translateX(3px);
        }
      }
    }
  }
}
@media only screen and (max-width: 1199px) {
  .section-left__img {
    gap: 20px;
    .section-left__imgs {
      width: 50%;
      img {
        width: 320px;
        height: 350px;
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .section-left__img {
    display: block;
    .section-left__imgs {
      img {
        width: 700px;
        height: 650px;
      }
    }
    .section-left__text {
      padding: 40px 0 0 0;
    }
  }
}
@media only screen and (max-width: 767px) {
  .container {
    max-width: none;
    .section-left__img {
      .section-left__imgs {
        width: 0%;
        img {
          width: 510px;
          height: 510px;
        }
      }
      .section-left__text {
      }
    }
  }
}
@media only screen and (max-width: 576px) {
  .container {
    max-width: none;
    .section-left__img {
      .section-left__imgs {
        width: 0%;
        img {
          width: 330px;
          height: 330px;
        }
      }
      .section-left__text {
        p {
          width: 310px;
          font-size: 16px;
          line-height: 24px;
        }
        .section-left__cards {
          display: block;
          .section-left__card {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
